<main>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-md-3 g-3"> //para ser responsivo
                <% for( let i = 0; i < data.length; i++ ) { %>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <img class="card-img-top"
                    src="http://localhost:3000/images/<%= data[i].src %> " alt="">
                                <p class="card-text my-5"><%= data[i].nombre %> </p>
                                <div class="m-3">
                                    <p>Contacto:<%= data[i].email %> </p>
                                    <p>Ubicación:<%= data[i].ubicacion %> </p>
                                    <h3>Servicios</h3>
                                    <ul>
                                        <% for( let j = 0; j < data[i].servicios.length; j++ ) { %>
                                            <li><%= data[i].servicios[j] %> </li>
                                        <% } %>

                                    </ul>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form action="/hoteles/edit/<%- data[i].id %> " method="get">
                                    <button type="submit" class="btn btn-sm btn-success mx-1">
                                        Modificar
                                    </button>
                                </form>
                                <form action="/hoteles/delete" method="post">
                                    <input type="text" name="id" value="<%- data[i].id %>" hidden>
                                    <button type="submit" class="btn btn-sm btn-danger mx-1">
                                        Eliminar
                                    </button>
                                </form>
                                    
                               
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <% } %>

            </div>
        </div>
    </section>
</main>